.wrapper {
    margin: 0;
}

#top-bar {
    position: relative;
    top: 0;
    margin: 0;
}

nav {
    padding: 0 !important;
    position: fixed !important;
    width: 100%;
    z-index: 9999;
}

#navbar-brand {
    position: relative;
    top: 0;
    background: #30a1c0;
    color: #fff;
    font-size: 14pt;
    margin: 0 1.5em;
    padding-top: 3em;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    z-index: 9999;
}

#navbar-brand:hover {
    background: #ec4c6a;
    color: #fff;
    text-decoration: none;
}

.menu-btn {
    text-decoration: none;
    display: inline-block;
    background: #0e4754;
    color: #fff;
    padding: 0.8em 1.5em;
    margin: 1.5em;
    z-index: 9999;
}

.menu-btn:hover {
    text-decoration: none;
    background: #ec4c6a;
    color: #fff;
}

#sidebar {
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 9998;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 10em;
    padding-left: 3em;
    padding-right: 4em;
}

.nav-btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    background: rgb(251, 251, 251);
    color: #0e4754;
    width: 100%;
    height: 10em;
    margin: 0 0.5em;
    margin-bottom: 1.5em
    
}

.nav-btn:hover {
    background: rgb(241, 241, 241);
    text-decoration: none;
    color: #0e4754;
}

.hidden {
    display: none;
}

#news-feed-container {
    background: rgb(245, 245, 242);
    padding: 5%;
    margin: 0;
}

.news-feed {
    margin-left: 10px;
    padding-top: 10px; 
}

.news-item {
    margin: 0px 0px 10px 0px;
    padding: 0px 10px 0px 0px !important;
}

.card {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

.card-title {
    color: #30a1c0;
}

.card-title:hover {
    color: #0e4754;
}

.card-body a {
    background: #30a1c0 !important;
    border: none;
}

.card-body a:hover {
    background: #ec4c6a !important;
    border: none;
}

.partner-section {
    padding: 5% 0%;
}

.partner-section h2 {
    text-align: center;
    color: #202020;
    padding-bottom: 1em;
}

.scrollbar {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    background: #D3D3D3;
}

.scroll-item {
    display: inline-block;
    margin: 1em 1em 1em 0em;
}

.scroll-top-img img{
    border-radius: 5px 5px 0px 0px;
}

.scroll-desc {
    background: #fff;
    text-align: center;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0px 0px 5px 5px;
}

.scroll-desc a {
    height: 100%;
    color: #0e4754;
    text-decoration: none;
    
}

.left-scroll-btn {
    float: left;
    margin: auto;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
}

.left-scroll-btn:hover {
    color: #ec4c6a;
}

.right-scroll-btn {
    float: right;
    margin: auto;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
}

.right-scroll-btn:hover {
    color: #ec4c6a;
}

.scrollbar-container {
    white-space: nowrap;
}

footer {
    background: #30a1c0;
    color: #fff;
    padding: 4em 1em 1em 1em;
}

.footer-brand {
    font-size: 22pt;
    font-weight: 500;
    padding-left: 1em;
}

.footer-links {
    list-style-type: none;
    padding: 1em 0em 0em 3em;    
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 400;
}

.newsletter {
    border-style: double;
    padding: 1em 2em;
}

#social-links-footer ul {
    list-style-type: none;
}

#social-links-footer ul li {
    display: inline-block;
    padding: 2%;
}

#social-links-footer ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

.copyright {
    text-align: center;
    padding-top: 3em;
}

.thumbs {
    width: 100%;
}

#video-section-container {
    width: 100%;
    margin: 0;
    padding: 5%;
    background: #080808;
}

.video-section {
    margin-left: 10px;
    padding-top: 10px;
    color: #fff;
}

.video-section h2 {
    text-align: center;
    padding-bottom: 1em;
}

.video-player {
    width: 70%;
    height: 70%;
    margin: 0px 10px 0px 0px;
}

.video-playlist {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
}

.video-playlist img {
    width: 200px;
}

.playlist-item {
    display: inline-block;
    width: 200px;
}

.video-playlist-container {
    margin: 0 -5% 0 -5%;
}

.fancy-text {
    text-align: center;
    padding: 25% 2% 0% 3%;
}